<a href="https://colab.research.google.com/github/fatmakara/PythonVeriAnaliz/blob/main/Odev3_Python_Veri_Analizi_Egitimi__ogrenci_ad_soyad__ipynb_adl%C4%B1_not_defterinin_kopyas%C4%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> Güney Marmara ve TRAI
# <center> Python Veri Analizi Eğitimi
# <center> Ödev 3

### 2021 EUR/TRY kur tablosunun incelenmesi

1. <i> Yahoo Finance</i> sitesinden 2021 yılına ait EUR/TRY kur değerlerini indiriniz

In [74]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.18)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.7)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.10/dist-packages (from yfinance) (40.0.2)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [75]:
import yfinance as yf
import plotly.express as px

kur = yf.download('EURTRY=X', start = '2021-01-01',end = '2021-12-31')
kur

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close  Volume
Date
2021-01-01   9.08470   9.08470   9.08470   9.08470    9.08470       0
2021-01-04   9.11047   9.11154   8.99617   9.10568    9.10568       0
2021-01-05   9.09273   9.11239   9.04298   9.08882    9.08882       0
2021-01-06   9.08044   9.09500   8.92864   9.08177    9.08177       0
2021-01-07   9.00475   9.07176   8.88154   9.00614    9.00614       0
...              ...       ...       ...       ...        ...     ...
2021-12-24  12.79533  13.67650  12.51641  12.79752   12.79752       0
2021-12-27  12.28318  13.03196  12.16917  12.23056   12.23056       0
2021-12-28  12.96156  13.47629  12.88283  13.05254   13.05254       0
2021-12-29  13.35232  14.37038  13.31566  13.35252   13.35252       0
2021-12-30  14.32090  15.11444  14.05750  14.31055   14.31055       0

[260 rows x 6 columns]

2. Veriyi özet metodları ile inceleyiniz

3. Veri temizleme: <br>
	• Tabloda sadece "Adj Close" (düzeltilmiş kapanış) sütununu bırakınız.<br>
	• "Adj Close" sütununu " Kapanış (TRY)" olarak yeniden adlandırınız.

In [76]:
kur = kur[['Adj Close']]
kur

            Adj Close
Date
2021-01-01    9.08470
2021-01-04    9.10568
2021-01-05    9.08882
2021-01-06    9.08177
2021-01-07    9.00614
...               ...
2021-12-24   12.79752
2021-12-27   12.23056
2021-12-28   13.05254
2021-12-29   13.35252
2021-12-30   14.31055

[260 rows x 1 columns]

In [77]:
kur.columns=['kapanış (TRY)']
kur

            kapanış (TRY)
Date
2021-01-01        9.08470
2021-01-04        9.10568
2021-01-05        9.08882
2021-01-06        9.08177
2021-01-07        9.00614
...                   ...
2021-12-24       12.79752
2021-12-27       12.23056
2021-12-28       13.05254
2021-12-29       13.35252
2021-12-30       14.31055

[260 rows x 1 columns]

4. Tabloya yeni sütun ekleme:<br>
	• Tabloya yeni bir sütun ekleyerek Kapanış (TRY) değerlerini 1 Ocak 2021 tarihindeki kapanış değerine göre normalize ediniz.<br>
	• BIST30 endeksinin 2021 yılı boyunca değişimini yorumlayınız.

In [78]:
normalize =B30.iloc[0,0] 
B30['Normalize'] = B30['Kapanış (TRY)']/normalize
B30

KeyError: ignored

01-01-2021 tarihinde 1.000000 değerinde başlamış ve 30-12-2021 tarihinde 1.575236 değerinde ulaşarak %57 lik bir artış meydana gelmiştir.  Haziran ve temmuz ayında en düşük değerlere ulaşmıştır.

5. Veriyi grafik olarak inceleyiniz:<br>
	• Tabloyu px grafiği olarak görselleştiriniz.<br>
	• Tabloyu go. grafiği olarak görselleştiriniz.

In [66]:
px.line(B30, y='Normalize')

ValueError: ignored

In [72]:
fig = go.Figure()
fig.add_trace(go.Bar(x = B30.index, y =B30['Normalize']))

KeyError: ignored

### 2021 ve 2022 değerlerini birlikte inceleme

1. <i> Yahoo Finance</i> sitesinden 2022 BIST30 ve EUR/TRY kur değerlerini indiriniz

In [73]:
B30 = yf.download('XU030.IS', start = '2022-01-01',end = '2022-12-31')
kur =yf.download('EURTRY=X', start = '2022-01-01',end = '2022-12-31')
B30
kur

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                 Open      High        Low      Close  Adj Close  Volume
Date
2022-01-03  15.177660  15.71496  14.549500  15.189530  15.189530       0
2022-01-04  14.678350  15.32340  14.641780  14.763000  14.763000       0
2022-01-05  15.073550  15.44457  14.986400  15.071520  15.071520       0
2022-01-06  15.432200  15.68613  15.211400  15.445910  15.445910       0
2022-01-07  15.486110  15.72783  15.480200  15.434040  15.434040       0
...               ...       ...        ...        ...        ...     ...
2022-12-26  19.759489  19.87315  19.630131  19.734200  19.734200       0
2022-12-27  19.773390  19.96250  19.769699  19.815269  19.815269       0
2022-12-28  19.778601  19.97440  19.778601  19.805389  19.805389       0
2022-12-29  19.868549  19.96678  19.846180  19.867519  19.867519       0
2022-12-30  19.938971  20.02462  19.903080  19.937571  19.937571       0

[260 rows x 6 columns]

2. Indirdiğiniz verileri 2021 verilerini temizleyip düzenlediğiniz üzere hazırlayınız.

3. 2021 ve 2022 veri tablolarını tek bir tablo haline getiriniz.

4. Veriyi grafik olarak inceleyiniz:<br>
	• Tabloları px grafiği olarak görselleştiriniz.<br>
	• Tabloları go. grafiği olarak görselleştiriniz.<br>
	• Tabloları subplots grafiği olarak görselleştiriniz.